# Default ignored files
target/
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\stanki17\Desktop\mp3MusicPlayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
